<div class="banner-causa">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEBoOjaM6FPvtpu3JbMtLKRAONC6Lv1CDqWg&s"
    alt="Imagen de la causa" class="banner-img" />

  <div class="info-causa">
    <h1>Ayuda a 300 ancianos abandonados</h1>
    <p class="subtitulo">Una iniciativa de <strong>Fundación BAQ</strong></p>
    <p class="lema"><strong>UN HOGAR QUE SANA, UNA FAMILIA QUE CUIDA</strong></p>

    <div class="barra-progreso">
      <div class="progreso" style="width: 51.2%;"></div>
    </div>

    <div class="meta-recaudo">
      <span>$86245.30 recaudados</span>
      <span>Meta: $168347.46</span>
    </div>

    <div class="tabs">
      <button class="tab" [class.active]="seccionActiva === 'productos'" (click)="cambiarSeccion('productos')">📦
        ¿QUIERES DONAR ALIMENTOS?</button>
      <button class="tab" [class.active]="seccionActiva === 'proyecto'" (click)="cambiarSeccion('proyecto')">💵
        ¿QUIERES DONAR DINERO?</button>
      <button class="tab" [class.active]="seccionActiva === 'actualizaciones'"
        (click)="cambiarSeccion('actualizaciones')">📰 ¿QUIERES SER VOLUNTARIO?</button>
    </div>

    </div>
    </div>
    <div class="contenido-seccion mt-4">
      <div *ngIf="seccionActiva === 'productos'">
  <div class="grid">
    <!-- COLUMNA IZQUIERDA -->
    <div class="col">
      <app-productos-list [productos]="productos" (agregarProducto)="agregarAlCarrito($event)">
      </app-productos-list>

      <app-resumen-campana></app-resumen-campana>

    </div>

    <!-- COLUMNA DERECHA -->
    <div class="col">
      <app-donacion-carrito [carrito]="carrito" (quitarProducto)="quitarDelCarrito($event)">
      </app-donacion-carrito>

      <app-informativo></app-informativo>
    </div>
  </div>

      </div>
      <div *ngIf="seccionActiva === 'proyecto'">
        <app-form />
      </div>
      <div *ngIf="seccionActiva === 'actualizaciones'" >
        Aquí deben ir varias actualizaciones recientemente agregadas.
      </div>
    </div>
