.productos-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    margin: 0 0 0.5rem 0;
  }

  .productos-scroll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    app-producto-card {
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 300px;
    }
  }
}
