<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark text-white shadow">
  <div class="container-fluid">
    <!-- Logo / Nombre -->
    <a class="navbar-brand text-warning fw-bold" href="#">
      <img src="assets/naranja.png" alt="Logo" width="165" height="74" class="d-inline-block align-text-top me-2 "></a>

    <!-- Toggler para móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-orange"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link text-white" aria-current="page" href="#">Donar Alimentos</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link text-white" href="#">Donar Dinero</a> -->
        <!-- </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" href="#" (click)="irAVoluntariado($event)">Voluntariado</a>
        </li>
        <!-- Botón de acción -->
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
          <a class="btn btn-warning text-white w-100" href="#" (click)="irADonar($event)">Donar Ahora</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
