<div>
  <div class="container">

    <h1>🎁 Dona con propósito</h1>

    <div class="grid">
      <div class="col">
        <app-productos-list [productos]="productos" (agregarProducto)="agregarAlCarrito($event)">
        </app-productos-list>

        <app-resumen-campana></app-resumen-campana>

      </div>



      <div class="col">
        <app-donacion-carrito [carrito]="carrito" (quitarProducto)="quitarDelCarrito($event)">
        </app-donacion-carrito>

      </div>
      <div class="col">
        <app-form></app-form>
      </div>

      <div class="col">
        <app-informativo></app-informativo>
      </div>
    </div>
  </div>
</div>
