<app-header />
<router-outlet></router-outlet>
<div class="container">

  <div class="col">
    <app-ayuda></app-ayuda>
  </div>
  <h1>🎁 Dona con propósito</h1>

  <div class="grid">
    <div class="col">
      <app-productos-list [productos]="productos" (agregarProducto)="agregarAlCarrito($event)">
      </app-productos-list>

      <app-resumen-campana></app-resumen-campana>

    </div>



    <div class="col">
      <app-donacion-carrito [carrito]="carrito" (quitarProducto)="quitarDelCarrito($event)">
      </app-donacion-carrito>
      <app-info-donante></app-info-donante>

    </div>
    <div class="col">
      <app-form></app-form>
    </div>

    <div class="col">
      <app-informativo></app-informativo>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
